* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 170px;
}

.about-us {
    display: flex;
    gap: 15px;
}

.about-us a {
    text-decoration: none;
    color: #432818;
    font-size: 19px;
    margin-top: 15px;
}

.sign-up {
    display: flex;
    gap: 19px;
}

.sign-up a {
    color: #432818;
    text-decoration: none;
    font-size: 19px;
    margin-top: 10px;
}

.sign-up button {
    width: 94px;
    height: 40px;
    border-radius: 8px;
    background-color: #432818;
    color: #EDE0D4;
    font-size: 16px;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    gap: 15px;
    margin-top: 60px;
}

.grid-card-1 {
    background-color: #F3D5B5;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #432818;
    font-size: 50px;
}

.grid-card-2 {
    grid-column: 2 / 4;
    background-image: url(./Rectangle\ 4.png);
    border-radius: 24px;
}

.grid-card-3 {
    background-image: url(./Rectangle\ 5\ \(1\).png);
    grid-column: 1 / 3;
    border-radius: 24px;
    background-size: cover;
}

.grid-card-4 {
    border-radius: 24px;
    background-color: #F3D5B5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #432818;
    font-size: 50px;
}

.hero {
    background-color: #FFF4E8;
    margin-top: 60px;
    padding-bottom: 88px;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0px 72px 0px;
}

.hero-text h1 {
    font-size: 48px;
    color: #432818;
}

.hero-text p {
    width: 600px;
    font-size: 16px;
    color: #432818;
}

.bg-img {
    background-image: url(./75135.png);
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 16px;
}

.hero-2 {
    margin-top: 60px;
}

.hero-text-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0px 72px 0px;
}

.hero-text-2 h1 {
    font-size: 48px;
    color: #251805;
}

.hero-text-2 p {
    width: 600px;
    font-size: 19px;
    color: #593D3D;
}

.menu {
    display: flex;
    gap: 20px;
}
