* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 170px;
}

.about-us {
    display: flex;
    gap: 15px;
}

.about-us a {
    text-decoration: none;
    color: #432818;
    font-size: 19px;
    margin-top: 15px;
}

.sign-up {
    display: flex;
    gap: 19px;
}

.sign-up a {
    color: #432818;
    text-decoration: none;
    font-size: 19px;
    margin-top: 10px;
}

.sign-up button {
    width: 94px;
    height: 40px;
    border-radius: 8px;
    background-color: #432818;
    color: #EDE0D4;
    font-size: 16px;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    gap: 15px;
    margin-top: 60px;
}

.grid-card-1 {
    background-color: #F3D5B5;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #432818;
    font-size: 50px;
}

.grid-card-2 {
    grid-column: 2 / 4;
    background-image: url(./Rectangle\ 4.png);
    border-radius: 24px;
}

.grid-card-3 {
    background-image: url(./Rectangle\ 5\ \(1\).png);
    grid-column: 1 / 3;
    border-radius: 24px;
    background-size: cover;
}

.grid-card-4 {
    border-radius: 24px;
    background-color: #F3D5B5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #432818;
    font-size: 50px;
}

.hero {
    background-color: #FFF4E8;
    margin-top: 60px;
    padding-bottom: 88px;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0px 72px 0px;
}

.hero-text h1 {
    font-size: 48px;
    color: #432818;
}

.hero-text p {
    width: 600px;
    font-size: 16px;
    color: #432818;
}

.bg-img {
    background-image: url(./75135.png);
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 16px;
}

.hero-2 {
    margin-top: 60px;
}

.hero-text-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0px 72px 0px;
}

.hero-text-2 h1 {
    font-size: 48px;
    color: #251805;
}

.hero-text-2 p {
    width: 600px;
    font-size: 19px;
    color: #593D3D;
}

.menu {
    display: flex;
    gap: 20px;
}

.about {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about h2 {
    font-size: 48px;
    color: #251805;
}

.about p {
    font-size: 16px;
    color: #593D3D;
    width: 600px;
}

.bg {
    display: flex;
    gap: 24px;
}

.bg-5 {
    width: 416px;
    height: 320px;
    background-image: url(./Rectangle\ 12.png);
}

.bg-6 {
    width: 416px;
    height: 320px;
    background-image: url(./Rectangle\ 12\ \(1\).png);
}

.bg-7 {
    width: 416px;
    height: 320px;
    background-image: url(./Rectangle\ 12\ \(2\).png);
}

.down {
    width: 416px;
}

.down-desk {
    font-size: 14px;
    color: #583101;
    margin-top: 24px;
}

.down-title {
    font-size: 28px;
    color: #251805;
}

.down-desks {
    color: #251805CC;
    margin: 16px 0;
}

.down-btn {
    color: #583101;
    width: 100px;
    height: 30px;
}

.downs {
    gap: 20px;
    display: flex;
}

.footer {
    background-color: #3B2413;
    color: #EAD7C3;
    padding: 60px 0;
    margin-top: 80px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-col {
    flex: 1;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

.footer-logo img {
    width: 122px;
}

.footer h4 {
    margin-bottom: 15px;
    font-size: 28px;
    color: #FFF4E8;
}

.footer p {
    font-size: 15px;
    line-height: 1.6;
}

.socials {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.socials img {
    width: 29px;
    cursor: pointer;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul a {
    text-decoration: none;
    color: #EAD7C3;
    font-size: 14px;
}

.footer ul a:hover {
    color: #FFF;
}
